@import 'reset';

.banner {
	width: 300px;
	height: 250px;
	background: cornflowerblue;
	overflow: hidden;
	position: relative;
}

.house {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/house.svg');
	background-size: 100% 100%;
	width: 200px;
	height: 200px;
}

.house-transition-topRightWindow {
	width: 500px;
	height: 500px;
	left: -200px;
	top: -80px;
	transition: 5s;	
}

.house-transition-topCircle {
	left: -180px;
	top: 10px;
	transition: 2s;	
}

.house-transition-full {
	left: 0px;
	top: 0px;
	width: 250px;
	height: 250px;
	transition: 3s;	
}