@import 'reset';

$dur-scale: 1.25;
$house-width: 200px;
$house-height: 200px;

body {
	transform:translate3d(0,0,0);
}

.banner {
	width: 300px;
	height: 250px;
	background: cornflowerblue;
	overflow: hidden;
	position: relative;
}
.house {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/house.svg');
	background-size: 100% 100%;
	width: $house-width;
	height: $house-height;
	backface-visibility: hidden;
}


.house-mainWindow {
	animation: house-mainWindow 3s * $dur-scale forwards ease-in-out;
}
@keyframes house-mainWindow {
	to {
		transform: 
			translateX(-100px)
			translateY(60px);
		width: $house-width * 3;
		height: $house-height * 3;
	}
}
.house-circle {
	animation: house-circle 2s * $dur-scale forwards ease-in-out;
}
@keyframes house-circle {
	from {
		transform: 
			translateX(-100px)
			translateY(60px);
		width: $house-width * 3;
		height: $house-height * 3;
	}
	to {
		transform: 
			translateX(-60px)
			translateY(190px);
		width: $house-width * 2.5;
		height: $house-height * 2.5;
	}
}
.house-full {
	animation: house-full 3s * $dur-scale forwards ease-in-out;
}
@keyframes house-full {
	from {
		transform: 
			translateX(-60px)
			translateY(190px);
		width: $house-width * 2.5;
		height: $house-height * 2.5;
	}
	to {
		transform: 
			translateX(50px)
			translateY(20px);
		width: $house-width;
		height: $house-height;
	}
}








