@import 'reset';

$dur-scale: 1.25;

.banner {
	width: 300px;
	height: 250px;
	background: cornflowerblue;
	overflow: hidden;
	position: relative;
}
.house {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/house.svg');
	background-size: 100% 100%;
	width: 200px;
	height: 200px;
}


.house-mainWindow {
	animation: house-mainWindow 3s * $dur-scale forwards ease-in-out;
}
@keyframes house-mainWindow {
	to {
		top: -80px;
		left: 40px;
		width: 450px;
		height: 450px;
	}
}
.house-circle {
	animation: house-circle 2s * $dur-scale forwards ease-in-out;
}
@keyframes house-circle {
	from {
		top: -80px;
		left: 40px;
		width: 450px;
		height: 450px;
	}
	to {
		top: 30px;
		left: -170px;
		width: 500px;
		height: 500px;
	}
}
.house-full {
	animation: house-full 3s * $dur-scale forwards ease-in-out;
}
@keyframes house-full {
	from {
		top: 30px;
		left: -170px;
		width: 500px;
		height: 500px;
	}
	to {
		top: 50px;
		left: 75px;
		width: 150px;
		height: 150px;
	}
}








